In [52]:
import os
import pandas as pd
import seaborn as sns
import numpy as np

In [56]:
data=pd.read_csv('data/data.csv')

In [57]:
data.loc[data['horsepower'].isna(),'horsepower']=round(data['horsepower'].mean(),1)

In [59]:
data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [60]:
data.to_csv(os.path.join('data/','datas.csv'),index=False)

In [64]:
import joblib
show=datas.head(20)

In [65]:
joblib.dump(show,'mpgdata.pkl')

['mpgdata.pkl']

In [45]:
data.to_csv(os.path.join('data/','data.csv'),index=False)

In [44]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [32]:
train.isna().sum()

mpg               0
cylinders         0
displacement      0
horsepower        6
weight            0
acceleration      0
model_year        0
origin            0
name              0
horse           392
dtype: int64

In [61]:
datas=pd.read_csv('data/datas.csv')

In [63]:

datas.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [76]:
a=dict(data['horsepower'].value_counts())

In [78]:
type(a)

dict

In [ ]:
a